__pycache__
.pytest_cache
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
**/.env
**/.idea
Dockerfile
README.md
docker-compose.yml
**/media
poetry.lock
pyproject.toml
*.sqlite3
.gitignore
.dockerignore
nginx
.env.db