{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="table-responsive">
    <table class="table table-hover caption-top">
      <caption>Зарегистрированные пользователи</caption>
      <thead>
      <tr>
        <th scope="col">#</th>
        {% for header in table_employees.headers %}
          <th scope="col">{{ header }}</th>
        {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% for employee in table_employees.users %}
        <tr style="cursor: pointer;"
            onclick="window.open('{% url 'admin:src_employee_change' object_id=employee.id %}?next={{ request.path|urlencode }}', '_self')">
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ employee.name }}</td>
          <td>{{ employee.dispatcher_name|default_if_none:'' }}</td>
          <td><a href="https://t.me/{{ employee.tg_nickname|cut:'@' }}">{{ employee.tg_nickname }}</a></td>
          <td>
            {% for group in employee.groups.all %}
              <span class="badge text-bg-primary">{{ group.name }}</span><br/>
            {% endfor %}
          </td>
          <td>
            {% for group in employee.groups.all %}
              {% for manager in group.managers.all %}
                <span class="badge text-bg-primary">{{ manager.name }}</span><br/>
              {% endfor %}
            {% endfor %}
          </td>
          <td>{{ employee.date_joined|date:'d-m-Y H:i' }}</td>
          <td class="text-center">
            <i class="bi-check-circle-fill {{ employee.is_active|yesno:"text-success,text-danger" }}"></i>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}