{% if wrong_task_number %}
⛔Не правильный формат номера задачи<br>
Номер задачи должен содержать:<br>
  1. буквенный код (2-3 символа)<br>
  2. 7-ми значный номер<br>
Пример: <code>SC1395412</code>,<code>INC0002295</code><br>
<i>Номер SC можно указывать без -</i><br><br>
<i>Если передумал - используй команду отмены</i><code>/cancel</code>
{% endif %}

{% if wrong_task_documents %}
⛔Все еще жду документы.<br><br>
❗<i>Пересылку- не понимаю</i>
{% endif %}

{% if no_engineers_on_shift %}
Поступил запрос на помощь, но нет никого на смене<br>
Номер обращения: <code>{{ task_number }}</code><br><br>
❗<i>Это уведомление для менджеров группы и ведущих</i>
{% endif %}

{% if wrong_task_description %}
Нет описания по задаче. Чем помочь?<br><br>
❗<i>Описание только в виде текста</i>
{% endif %}

{% if doc_as_compressed_photo %}
⛔Вижу сжатое фото. Такой формат не подходит<br><br>
<i>Приложили фото <u>без сжатия</u> или документ</i><br>
<i>Если передумал - используй команду отмены</i><code>/cancel</code>
{% endif %}

{% if empty_doc %}
⛔Нужен, как минимум, акт выполненных работ!<br><br>
<i>Приложили фото <u>без сжатия</u> или документ</i><br>
<i>Если передумал - используй команду отмены</i><code>/cancel</code>
{% endif %}

{% if no_active_shift %}
Нет активной смены.<br>
Сначала смену надо начать.<br><br>
<i>Используй команду:</i> <code>/on_shift</code>
{% endif %}

{% if no_active_breaks %}
Нет информации о начале перерыва<br>
Сначала перерыв надо начать.<br><br>
<i>Используй команду:</i> <code>/break_start</code>
{% endif %}