{% load static %}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'emp' %}">Сотрудники</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'support_tasks' %}">Задачи</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shifts' %}">Сотрудники на смене</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shift_report' %}">Отчет по смене</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'sync_report_prev' %}">Отчет по синхронизации</a>
  </li>
</ul>
